.wrapper-main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.sections {
    max-width: 1225px;
    margin: 0 auto;
}

.fixed-top-social {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
    right: 0px;
    top: 120px;
    text-transform: uppercase;
    font-size: 9px;
    text-align: center;
    &__text > span {
        display: block;
        transform: rotate(-90deg);
    }
    &__ico {
        margin-top: 100px;
    }
}

.header {
    display: flex;
    align-items: center;
    margin: 30px 0;
    &__logo {
        padding: 5px;
    }
    &__menu {
        width: 100%;
        font-family: 'LeagueSpartan-Bold',sans-serif;
        font-weight: bold;
        padding-left: 8%;
        &_li {
            display: inline-block;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 66px;
            letter-spacing: 5px;
            color: #0b0c11;
            padding-left: 45px;
        }
    }
}

.slide-top {
    position: relative;
    &__text {
        &-top {
            font-family: 'LeagueSpartan-Bold',sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 9px;
            line-height: 20px;
            color: #5da8ef;
            letter-spacing: 5px;
        }
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }
    &__caption {
        font-family: 'Playfair Display', sans-serif;
        font-weight: bold;
        color: #0b0c11;
        font-size: 62px;
        letter-spacing: 2px;
        text-shadow: 0px 3px 35px rgba(0,0,0,0.39);;
    }
    &__desc {
        width: 405px;
        line-height: 24px;
        padding-top: 10px;
    }    
    &__images {
        display: block;
        margin: 0 0 0 auto;
        width: 1018px;
        height: 100%;
        > img {
            box-shadow: -10px 10px 35px 0px rgba(0, 0, 0, 0.2);
        }
    }
    &__pagination {
        display: flex;
        position: absolute;
        bottom: 0;
        z-index: 2;
    }
}

.sec1-wrapper {
    position: relative;
}

.sec1-text-head {
    margin-top: 160px;
    text-align: center;
    > p {
        font-family: 'Playfair Display', sans-serif;
        font-weight: 400;
        font-size: 26px;
        line-height: 38px;
        color: #333;
        margin-bottom: 0px;
    }
    &__name > p {
        font-family: 'LeagueSpartan-Bold',sans-serif;
        font-size: 9px;
        font-weight: 800;
        line-height: 66px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #333;
        margin-top: 0px;
    }
}

.vertical-line-blue{
    display: flex;
    justify-content: center;
    &:after {
    content: "";
    display: table;
    width: 2px;
    height: 100px;
    background-color: #5da8ef;
    margin: 10px 0 55px;
    }

}

.sec1-image {
    position: relative;
    &__bottom {
        position: absolute;
        z-index: -1;
    }
    &__top {
        padding-top: 45px;
        width: 816px;
        margin: 0 0 0 auto;
    }
    &__desc {
        position: absolute;
        bottom: 13%;
        width: 370px;
        padding-left: 35px;
    }
}

.shop-wrapper {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}