* {
    font-family: Poppins, sans-serif;
    font-size: 14px;
}

@font-face {
    font-family: 'Poppins';
    src: url(Poppins-Light.otf);
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url(PlayfairDisplay-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}